  .CategoryCardCaruselWarpper {
    width: 100%;
    height: 500px;
    margin-top: 96px;
  }
  .CategoryCardCaruselCardsBg {
    margin-top: 32px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .CategoryAllCardItemsBg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .CategoryAllCardWrapper {
    width: 260px;
    height: 350px;
    border-radius: 3px;
    background-size: cover cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
  }

  .CategoryAllCardAsIcon {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 145px;
  }

  .CategoryAllCardWrapperItems{
    background: hsla(0, 0%, 0%, 0.651);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    color: white;
    flex-wrap: wrap;
    transition: all 0.2s linear;
  }
  .CategoryAllCardWrapper:hover .CategoryAllCardWrapperItems{
    background-color: transparent;
  }


  .CategoryAllCardAsTitle {
    width: max-content;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    margin-top: 229px;
  }
