.Container {
    width: 100%;
    height: 100vh;
    padding: 64px 0 0 0;
}

.NavWrapper {
    width: 100%;
    height: 64px;
    background-color: var(--bgWrapper);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 999999;
    top: 0;
}

.NavItemsBg {
    height: 100%;
}

.NavItemsBgLogo {
    width: 28%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: green; */
    box-sizing: border-box;
    padding: 0 0 0 130px;
}

.NavItemsBgLink {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: orange; */
}

.NavItemsBgJoin {
    width: 25%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: red; */
    box-sizing: border-box;
    padding: 0 130px 0 0;
}


.NavItemLinks {
    width: max-content;
    height: max-content;
    padding: 10px;
    /* background-color: red; */
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.2s linear;
}

.NavItemLinks:hover {
    border-bottom: 2px solid white;
}



.NavItemsJoinBtnBg {
    width: 120px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.NavItemsJoinBtnBg:hover {
    background-color: white;
    color: #0D263B;
}


